.card_container {
  display: flex;
  margin: 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 5rem;
}
.card_container .card {
  width: 100%;
  height: 100%;
}
